@model IEnumerable<ShoppingCartItem>

@{
    ViewData["Title"] = "ShoppingCart";
}

<main>

	<!-- =======================
	Page Banner START -->
	<section class="py-0">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="bg-light p-4 text-center rounded-3">
						<h1 class="m-0">My cart</h1>
						<!-- Breadcrumb -->
						<div class="d-flex justify-content-center">
							<nav aria-label="breadcrumb">
								<ol class="breadcrumb breadcrumb-dots mb-0">
									<li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
									<li class="breadcrumb-item"><a asp-controller="Home" asp-action="Courses">Courses</a></li>
									<li class="breadcrumb-item active" aria-current="page">Cart</li>
								</ol>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- =======================
	Page Banner END -->
	<!-- =======================
	Page content START -->
	<section class="pt-5">
		<div class="container">

			<div class="row g-4 g-sm-5">
				<!-- Main content START -->
				<div class="col-lg-8 mb-4 mb-sm-0">
					<div class="card card-body p-4 shadow">
						<!-- Alert -->

						<div class="table-responsive border-0 rounded-3">
							<!-- Table START -->
							<table class="table align-middle p-4 mb-0">
								<!-- Table head -->
								<!-- Table body START -->
								<tbody class="border-top-0">

                                    
                                    
                                    <!-- Table item -->
									
										<!-- Course item -->
                                        @foreach (var item in Model)
										{
										<tr>
                                            <td>
                                                <div class="d-lg-flex align-items-center">
                                                    <!-- Image -->
                                                    <div class="w-100px w-md-80px mb-2 mb-md-0">
                                                        <img src="~/@item.Course.Image" class="rounded" alt="">
                                                    </div>
                                                    <!-- Title -->
                                                    <h6 class="mb-0 ms-lg-3 mt-2 mt-lg-0">
                                                        <a asp-action="Details">@item.Course.CourseName</a>
                                                    </h6>
                                                </div>
                                            </td>
                                            <td>
                                                <h5 class="text-success mb-0">@item.Course.Price</h5>
                                            </td>
                                            <td>
                                                <a asp-controller="Order" asp-action="RemoveFromCart" asp-route-id="@item.Course.Id" class="btn btn-sm btn-success-soft px-2 me-1 mb-1 mb-md-0"><i class="fas fa-fw fa-times"></i></a>
                                            </td>
										</tr>
                                        }										
									

									
								</tbody>
							</table>
						</div>

						
					</div>
				</div>
				<!-- Main content END -->
				<!-- Right sidebar START -->
				<div class="col-lg-4">
					<!-- Card total START -->
					<div class="card card-body p-4 shadow">
						<!-- Title -->
						<h4 class="mb-3">Cart Total</h4>

						<!-- Price and detail -->
						<ul class="list-group list-group-borderless mb-2">
							<li class="list-group-item px-0 d-flex justify-content-between">
								<span class="h6 fw-light mb-0">Original Price</span>
								<span class="h6 fw-light mb-0 fw-bold"></span>
							</li>
							<li class="list-group-item px-0 d-flex justify-content-between">
								<span class="h6 fw-light mb-0"><span>
								<span class="text-danger"></span>
							</li>
							<li class="list-group-item px-0 d-flex justify-content-between">
								<span class="h5 mb-0">Total</span>
                                <span class="h5 mb-0">@ViewBag.Total.ToString("c")</span>
							</li>
						</ul>

						<!-- Button -->
						<div class="d-grid">
							<a asp-controller="Order" asp-action="CompleteOrder" class="btn btn-lg btn-success">Complete Order</a>
						</div>

						<!-- Content -->
						<p class="small mb-0 mt-2 text-center">By completing your purchase, you agree to these <a href="#"><strong>Terms of Service</strong></a></p>

					</div>
					<!-- Card total END -->
				</div>
				<!-- Right sidebar END -->

			</div><!-- Row END -->
		</div>
	</section>
	<!-- =======================
	Page content END -->

</main>

