@model Category
@{
	ViewData["Title"] = "Create";
}
<h1>Create Category</h1>
<div class="row">
	<div class="col-md-4">
<form method="post">
	<div class="mb-3">
		<label asp-for="CategoryName"></label>
		<input asp-for="CategoryName" class="form-control" />
		<span asp-validation-for="CategoryName" class="text-danger"></span>
	</div>
	<div class="mb-3">
		<button type="submit" class="btn btn-primary">Create</button>
	</div>
</form>
	</div>
</div>
<div>
	<a asp-action="Index" asp-controller="Category" class="btn btn-warning">Back To Index</a>
</div>
@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}